/*Aplica a todos los elementos sin excepcion, 
a menos que un elemento posterior sobreescriba el valor 
de los atributos*/
*{
    font-family: Arial, Helvetica, sans-serif;
    color: #cdcdcd;
    background-color: #232323;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 16px;
    scrollbar-width: none;
}

a{
  text-decoration: none;
}
header#encabezadoPagina, main, aside.lateral, footer#piePagina{
    width: 100%;
    display: block;
}
header#encabezadoPagina figure, aside.lateral{
    background-color: #cdcdcd;
    color: #232323;
}
header#encabezadoPagina {
    height: 50px;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
    position: fixed;
    z-index: 999;  
}

.btn:hover {background: #cdcdcd;}

.success {color: #009d71;}

header#encabezadoPagina figure, header#encabezadoPagina div {
    height: 50px;
    display: inline-block;
    user-select: none;
}

header#encabezadoPagina figure{
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 998;
    text-align: center;
}

#encabezadoPagina figure #logotipo{
    height: 50px;
    width: 125px;
    display: inline-block;
}

#logotipo[alt]{
    background-color: #cdcdcd;
    color: #009d71;
    text-shadow: 2px 2px 4px #232323;
}

header#encabezadoPagina div{
    width: 50px;
    position: fixed;
    right: 0;
    text-align: center;
    font-size:36px;
    z-index: 999;    
}

nav {
    position: absolute;
    top: 50px;
    width: 100%;
    display: none;
}

header#encabezadoPagina ul.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;

}

header#encabezadoPagina ul.menu li {
    padding: 10px 0;
    width: 100%;
    display: block;
    text-align: center;
}

header#encabezadoPagina div:hover, header#encabezadoPagina ul.menu li:hover,  header#encabezadoPagina ul.menu li:hover a{
    background-color: #009d71;
    margin: #009d71;
}

main.container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 92%;
    height: 100vh;
    margin: auto;
    padding: 4%;
    border-radius: 2%;
    box-shadow: 0px 4px 10px rgba(0, 154, 107, 1);
    background-color: rgba(35, 35, 35, 0.9); /* Semi-transparent background */
    z-index: 999; /* Ensure it's above other elements */
    overflow: auto; /* Enable scrolling if necessary */
}

/*logotipo en el formulario*/ 
.container header .logo {
  text-align: center;
  margin-bottom: 20px;
}

.container header .logo img {
  max-width: 100px;
  margin: 0;
  padding: 0;
}

.container .form-container {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  height: 300px; /* Set a fixed height for both forms */
  position: relative; /* Position the buttons relative to the form container */
}

.container .form-container form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative; /* Position the buttons relative to the form */
}

.container .form-container input[type="text"],
.container .form-container input[type="password"],
.container .form-container input[type="email"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 3%;
  border: 1px solid #009d71;
  border-radius: 4px;
  box-sizing: border-box;
}

.container .form-container button {
  width: calc(100% - 30px); /* Adjust button width to account for padding */
  padding: 15px;
  background-color: #009d71;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 15px; /* Align button with input fields */
}

.container .form-container button:hover {
  background-color: #009d71;
}

.container .login-link {
  text-align: center;
  margin-top: 20px;
}

.container .login-link a {
  color: #009d71;
  text-decoration: none;
}

.container .login-link a:hover {
  text-decoration: underline;
}

.container .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #cdcdcd;
  font-size: 50px;
  cursor: pointer;
}

.container .close:hover,
.container .close:focus {
  color: red;
  cursor: pointer;
}

aside.lateral {
    min-height: 60vh;
}
footer#piePagina {
    background-color: #009d71;
    bottom: 0px;
    height: 25vh;
    position: fixed;
}

/* Hamburger menu styles */
.hamburger {
display: none;
}

.menu.show-menu {
display: block;
}

.accordion {
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .active h1, .accordion:hover, .accordion:hover h1 {
background-color: #009d71; 
}

.panel {
padding: 0 18px;
display: none;
overflow: hidden;
}

#servicios table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #cdcdcd;
  color: #cdcdcd
}

#servicios th, #servicios td {
  text-align: left;
  padding: 8px;
}

#servicios tr#encabezado{
  background-color: #009d71;
}

#servicios tr.datos:nth-child(odd){background-color: #009d71}
#servicios tr.datos:nth-child(even){background-color: #00719d}

#formularioContacto{
  min-height: 60vh;
}
#formularioContacto input, #formularioContacto button{
  color: #cdcdcd;
  background-color: #009d71;
  display: block;
  width: 94%;
  margin: 10px 3%;
  height: 35px;
  border-radius: 4px;
}

.fa {
padding: 6px;
font-size: 16px;
width: 16px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border: none; /* Add border property */
}

.fa:hover {
opacity: 0.7;
}

.fa-envelope, .fa-whatsapp, .fa-facebook, .fa-youtube-play, .fa-instagram, .fa-rss {
background: #009d71;
color: #cdcdcd;
}


#servicios{
  overflow-x:auto;
}
#servicios table{
  margin:auto;
  width: 90%;
  border-color: #009d71;
}
#servicios table #encabezado th{
  background-color: #cdcdcd;
  color: #232323;
  font-weight: bold;
}
#servicios table .datos:nth-child(even) td{
  color: #cdcdcd;
  background-color: #323232;
}
#servicios table .datos:nth-child(odd) td{
  color: #dcdcdc;
  background-color: #232323;
}
#servicios table .datos:hover td{
  color: #232323;
  border-color: #cdcdcd;
  background-color: #009d71;
}
