/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
#encabezado {
  background-color: #fcbe5b;
  color: #cdcdcd;
  padding: 10px;
  text-align: center;
}

#logo {
  max-width: 100px;
}

#nombreSitio {
  font-size: 1.5em;
  margin-left: 10px;
}

/* Top Navigation Menu styles */
.topnav {
  background-color: #0e374d;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #cdcdcd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fcbe5b;
}

.topnav a.active {
  background-color: #fcbe5b;
}

/* Hamburger Menu Styles */
.icon {
  display: none;
}

/* Hide the links by default */
#myLinks {
  display: block;
}

/* Styling for the links in the hamburger menu */
#myLinks a {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #fcbe5b;
  color: #cdcdcd;
  text-decoration: none;
}

#myLinks a:hover {
  background-color: #fcbe5b;
}

/* Main content styles */
.contenidoPrincipal {
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #0e374d;
  color: #cdcdcd;
  text-align: center;
  padding: 10px;
}
